$basic-margin-s: 20px;
$basic-margin-m: 50px;
$margin-for-unfocused-input: 1px 1px 21px 1px;
$margin-for-focused-input: 0px 0px 20 0px;;
$button-height: 50px;
$colorDdd: #ddd;
$background-for-table: #f1f1f1;